.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

.buffer{
    height: 20px;
    display: block;
}

.bob{
    background-color: red;
    border: 1px solid black;
}

#hg{
    margin-top: -40px;
}

#modal1{
    height: 350px;
    /*width: 425px;*/
    color: #78909c;
}

#modal2{
    height: 455px;
    /* width: 900px;*/
    color: #78909c;
}

.mdi-action-favorite-outline{
    font-size: 130px;
    color: #78909c;
}

.mdi-social-group{
    font-size: 130px;
    color: #78909c;
}

.mdi-communication-chat{
    font-size: 130px;
    color: #78909c;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.btn-primary {
    background: #3b5998;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #3b5998;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}