<div ng-include="'components/navbar/navbar.html'"></div>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>



<h1>Volunteer Gigs</h1>
<div class="container">
    <p> Gigs that need a hand. </p>
        
    
    </div>
    <form>
      <div class="container" id="form-group">
        <div class="col s6">
          <label for="exampleInputEmail1">Job Name</label>
          <input type='textarea' class="form-control" placeholder="name" ng-model="job.name">
        </div>
      </div>
      <label for="exampleInputEmail1" class=".center-align"> <h5 class="center-align"> Category </a> </label>

      <div class="container" id="form-group">

        <label data-ng-repeat="category in categories" class="category">

            <a name="currentActivity" value="{{category}}" ng-model="job.category" class="waves-effect waves-light btn"><i class="mdi-file-cloud left"></i> {{category}} </a>
        </label>
      </div>
      <div class="container" id="form-group">
        <label>Description</label>
        <input type='textarea' class="form-control" placeholder="Description" ng-model="job.description" rows="5">
      </div>
      <div class="container" id="form-group">
        <label>Price</label>
        <input type='textarea' class="form-control" placeholder="Cost per hour" ng-model="job.price">
      </div>
      <div class="container" id="form-group">
        <label>Location</label>
        <input type='textarea' class="form-control" placeholder="category" ng-model="job.location">
      </div>
      <div class="container">
        <button classtype="submit" id="submit" class="btn waves-effect waves-light" ng-click='createJob()'> <i class="mdi-content-send center"></i>Submit</button>
      </div>
    </form>
    <div ng-show='jobPosted'>Successfully Posted!</div>
  </div>
  <div class='container'>
    <div class="col-md-12">
      <h1 class="center-align">Jobs</h1>
    </div>
    <div class="col-md-12">
      <h2 class="center-align">Categories</h2>
    </div>
    <div class="form-group container">
      <label class="radioButton">
        <input
            name="currentActivity"
            type="radio"
            value=""
            ng-model="filters.category" />
            <strong>All</strong>
      </label>
      <label data-ng-repeat="category in categories" class="radioButton">
          <input class="center-align"
              name="currentActivity"
              type="radio"
              value="{{category}}"
              ng-model="filters.category" />
              {{category}}
      </label>
    </div>
    <div class="col-md-6" ng-repeat="job in jobs | filter:filters">
      <div class="col-md-2">
        <div class="col-md-6"><h3>{{ job.name }}</h3><div>
        <div class="col-md-6"><strong>Category</strong>: {{ job.category }}</div>
        <div class="col-md-6"><strong>Description</strong>: {{ job.description }}</div>
        <div class="col-md-6"><strong>Location</strong>: {{ job.location }}</div>
        <div class="col-md-6"><strong>Date</strong>: {{ job.price }}</div>
        <div class="col-md-6"><strong>User</strong>: {{ friends[job.byUserId] }}</div>
        <div class="col-md-6"><strong>Message</strong>: <input type="text"></div>
      </div>
    </div>
  </div>
</div>
