.radioButton {
  padding-right: 1.5em;
}
/*
#submit {
	margin-top: 20px;
	width: 125px;
	position: relative;
	left: 40%;
	margin-left: 0px;
}
*/

.box {
	width: 1000px;
	height: 250px;
	overflow: auto;
	margin: 0 auto;
}
.category {
	margin-top: 10px;
}

.alltext {
	color: white;
	position: relative;
}

.jobtitle {
	font-size: 35px;
	top: -25px;
	position: relative;
	color: white;
}
/*
label.text {
	color: #f4511e;
	position: relative;
	text-align: center;
}

h5 {
	color: #f4511e;
}

*/

#modalCore{
    height: 500px;
    width: auto;
    color: #78909c;
}

#jobSubmit{
}

#addJob{
	float: right;
}
