<div ng-include="'components/navbar/navbar.html'"></div>

<h1>Craigs-Book Jobs</h1>
<div class="container-fluid">
    <p>Take a look at jobs other users have posted or post one for yourself</p>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Job Name</label>
        <input type='textarea' class="form-control" placeholder="name" ng-model="job.name">
      </div>
      <label for="exampleInputEmail1">Category</label>
      <div class="form-group">
        <label data-ng-repeat="category in categories" class="radioButton">
            <input
                name="currentActivity"
                type="radio"
                value="{{category}}"
                ng-model="job.category" />
                {{category}}
        </label>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type='textarea' class="form-control" placeholder="Description" ng-model="job.description" rows="5">
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type='textarea' class="form-control" placeholder="Cost per hour" ng-model="job.price">
      </div>
      <div class="form-group">
        <label>Location</label>
        <input type='textarea' class="form-control" placeholder="category" ng-model="job.location">
      </div>
      <button type="submit" class="btn btn-primary" ng-click='createJob()'>Submit</button>
    </form>
    <div ng-show='jobPosted'>Successfully Posted!</div>
  </div>
  <div class='jobs'>
    <div class="col-md-12">
      <h1>Jobs</h1>
    </div>
    <div class="col-md-12">
      <h2>Categories</h2>
    </div>
    <div class="form-group container">
      <label class="radioButton">
        <input
            name="currentActivity"
            type="radio"
            value=""
            ng-model="filters.category" />
            <strong>All</strong>
      </label>
      <label data-ng-repeat="category in categories" class="radioButton">
          <input
              name="currentActivity"
              type="radio"
              value="{{category}}"
              ng-model="filters.category" />
              {{category}}
      </label>
    </div>
    <div ng-repeat="job in jobs | filter:filters">
      <div class="col-md-6">
        <div class="col-md-12"><h3>{{ job.name }}</h3><div>
        <div class="col-md-12"><strong>Category</strong>: {{ job.category }}</div>
        <div class="col-md-12"><strong>Description</strong>: {{ job.description }}</div>
        <div class="col-md-12"><strong>Location</strong>: {{ job.location }}</div>
        <div class="col-md-12"><strong>Price</strong>: {{ job.price }}</div>
        <div class="col-md-12"><strong>User</strong>: {{ friends[job.byUserId] }}</div>
        <div class="col-md-12"><strong>Message</strong>: <input type="text"></div>
      </div>
    </div>
  </div>
</div>
