.radioButton {
  padding-right: 1.5em;
}
/*
#submit {
	margin-top: 20px;
	width: 125px;
	position: relative;
	left: 40%;
	margin-left: 0px;
}
*/
.category {
	margin-top: 10px;
}

.alltext {
	color: white;
	position: relative;
}

.jobtitle {
	font-size: 35px;
	top: -25px;
	position: relative;
	color: white;
}
/*
label.text {
	color: #f4511e;
	position: relative;
	text-align: center;
}

h5 {
	color: #f4511e;
}

