<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div id="container" ng-controller='ProfileCtrl'>
    <div class="user container">
      <div class="row">
        <div class="col s6">
          <div class="card large">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="{{ currentUser.profileInfo.profilePicUrl }}" class="profPic activator">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ currentUser.name }} <i class="mdi-navigation-more-vert right"></i></span>
              <p>Karma level: {{ currentUser.karma }}
                <br>{{ currentUser.email }}
                <br>(click picture for more info)</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">About {{ currentUser.name }}:<i class="mdi-navigation-close right"></i></span>
              <textarea ng-model="currentUser.profileInfo.about" contenteditable='true' ng-blur='updateProfileInfo()'>{{ currentUser.profileInfo.about }}</textarea>
            </div>
          </div>
        </div>
        <div class='col s6'>
          <h4>Skills</h4>
          <br>
          <h7>Please list a few unique skills that you have (i.e. - woodworking, painting, heavy lifting)</h7>
          <div ng-model="currentUser.profileInfo.skills" class="input-field col s6">
            <input id="skill_name" type="text" class="validate" ng-model='currentUser.profileInfo.newSkill' ng-keyup="updateProfileInfo()">
            <label for="skill_name">New Skill</label>
            <ul class='collection'>
              <li ng-repeat='skill in currentUser.profileInfo.skills' class="collection-item">{{ skill }}</li>
            </ul>
          </div>
          <div>
          </div>
        </div>
      </div>
      <!-- 

			<div class="col-sm-12">
				<h3>{{ currentUser.name }}</h3>
			</div>

			<div class='col-md-4'>
				<img src="{{ currentUser.profileInfo.profilePicUrl }}" class="profPic">

				<form class='picture-form' name="profilePicForm">
					<input type="file" ngf-select="" ng-model="picFile" name="file" accept="image/*" required="">
					<br>
					<button class="btn btn-sm btn-primary" ng-show="profilePicForm.$valid" ng-click="profilePicUpload(picFile)">Submit</button>
					<img ng-show="picFile[0] != null" ngf-src="picFile[0]" class="thumb">
					<span class="progress" ng-show="picFile[0].progress >= 0">
						<div style="width:{{picFile[0].progress}}%" ng-bind="picFile[0].progress + '%'" class="ng-binding"></div>
					</span>
					<span ng-show="picFile[0].result">Upload Successful</span>
					<br>
				</form>

				<div>Email: {{ currentUser.email }}</div>

				<form>
					<button class="btn btn-sm btn-primary" ng-click='updateProfileInfo()' type="submit">Update Profile Info</button>
					<input type='textarea' placeholder="{{ currentUser.profileInfo.about }}" ng-model="currentUser.profileInfo.about"></input>
				</form>

				<div ng-show="updateSuccess" class="blue">Profile Updated</div>
			</div>
			
			<div class='myjobs container col-md-7' ng-init='showJobsCreated()'>
				<h2>My Skills</h2>
				<div class="col-md-6" ng-repeat="job in myJobs">
					<div class='job-card'>
						<div{{ job.name }}</div>
					</div>
				</div>
			</div>

		</div> -->
      <hr>
      <h3>Add a job</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Jobs</label>
          <input type='textarea' class="form-control" placeholder="nunchuks" ng-model="job.name">
        </div>
        <button type="submit" class="btn btn-primary" ng-click='createJob()'>Create Job</button>
      </form>
    </div>
  </div>