<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div id="container" ng-controller='ProfileCtrl'>
	<div class="col-sm-12">
	  <h3>Hello {{ currentUser.name }}</h3>
	</div>
	<img src="{{ currentUser.profileInfo.profilePicUrl }}">
	<form>
		<input type='textarea' rows="10" cols="70">
	</form>




	<hr>
	<div class='container'>
		<div class='profile-btn'>
			<form >
				<button class="btn btn-sm btn-primary" ng-click='showPassword()' type="submit">Show User Info</button>
			</form>
			<div ng-show='isPressed'>
				<div class='profile-username'>
					<p>Hello: {{ currentUser.name }}</p>
				</div>
				<div class='profile-email'>
					<p>User email: {{ currentUser.email }}</p>
				</div>
				<!-- <div>
					<p>role: {{ currentUser.role }}</p>
				</div> -->
				<!-- <div>
					<p>hashedPassword: {{ currentUser.hashedPassword }}</p>
				</div>
				<div>
					<p>provider: {{ currentUser.provider }}</p>
				</div> -->
				<div>
					<p>profileInfo: {{ currentUser.profileInfo }}</p>
				</div>
				<div>
					<p>friends: {{ currentUser.friends.length }}</p>
				</div>
				<div>
					<p>activity: {{ currentUser.activity }}</p>
				</div>
	<!-- 			<div>
					<p>google: {{ currentUser.google }}</p>
				</div> -->
			</div>
		</div>
		<form >
			<button class="btn btn-sm btn-primary" ng-click='showMessages()' type="submit">Show Messages</button>
		</form>
		<div ng-show='isMessagePressed'>
		{{messages}}
		</div>
		<form >
			<button class="btn btn-sm btn-primary" ng-click='showServices()' type="submit">Show Services</button>
		</form>
		<div ng-show='isServicesPressed'>
		{{services}}
		</div>
	</div>
	</div>

</div>