<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="col-sm-12">
	  <h3>Show Password</h3>
	</div>
	<div id="container" ng-controller='ProfileCtrl'>
		<form >
			<button class="btn btn-sm btn-primary" ng-click='showPassword()' type="submit">Show User Info</button>
		</form>
		<div ng-show='isPressed'>
			<ul>
				<li>
					<p>User Name: {{ currentUser.name }}</p>
				</li>
				<li>
					<p>User email: {{ currentUser.email }}</p>
				</li>
				<li>
					<p>role: {{ currentUser.role }}</p>
				</li>
				<li>
					<p>hashedPassword: {{ currentUser.hashedPassword }}</p>
				</li>
				<li>
					<p>provider: {{ currentUser.provider }}</p>
				</li>
				<li>
					<p>profileInfo: {{ currentUser.profileInfo }}</p>
				</li>
				<li>
					<p>friends: {{ currentUser.friends }}</p>
				</li>
				<li>
					<p>activity: {{ currentUser.activity }}</p>
				</li>
				<li>
					<p>google: {{ currentUser.google }}</p>
				</li>
			</ul>
		</div>
		<form >
			<button class="btn btn-sm btn-primary" ng-click='showMessages()' type="submit">Show Messages</button>
		</form>
		<div ng-show='isMessagePressed'>
		yis
		</div>
		<form >
			<button class="btn btn-sm btn-primary" ng-click='showServices()' type="submit">Show Services</button>
		</form>
		<div ng-show='isServicesPressed'>
		pizza
		</div>
	</div>

</div>